/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media (max-width: 600px) {
  .container-fluid {
    padding: 0 !important;
  }

  .homepage {
    margin: 0 !important;
    margin-right: 20px !important;
  }

  .homepage img {
    width: 90%;
    height: 90%;
  }

  .navbar-fixed-bottom {
    position: inherit !important;
  }

  .nav-tabs {
    margin: 0 !important;
  }

  .footer-distributed {
    padding: 0 !important;
  }
  .footer-right {
    width: auto !important;
  }

  .side-nav {
    display: none;
  }

  .main {
    width: 100% !important;
    margin-left: 5% !important;
    text-align: center;
  }

  .images {
    display: inherit !important;
  }

  .about-us img {
    margin: 0 !important;
  }

  .production img {
    margin: 0 !important;
  }

  .socialcontribution a {
    margin: 0 !important;
  }

  .wrapper {
    margin-left: 10% !important;
  }

  .product {
    margin-left: 15% !important;
  }
}

.homepage {
  margin-left:20%;
}

.homepage__image {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}

h4 {
  font-size: 22px !important;
}

.wrapper {
  width: 70%;
}

.images {
  display: flex;
}

.footnote-text {
  font-size: 16px;
}

.container-fluid {
  font-family: 'EB Garamond', serif;
}

.row {
  display: flex;
}

.main {
  margin-left: 5%;
  padding-bottom: 15%;
  color: #00659B;
}

.side-nav {
  border-width: 3px;
  border-right-color: #00659B;
  border-radius: 2px;
  border-right-style: solid;
  height: auto;
  width: 15%;
  color: #00659B;
}

.side-nav li {
  font-size: 20px !important;
  margin-bottom: 7px;
}

.side-nav a {
  color: #00659B;
}

.side-nav a:hover {
  color: grey;
}

.footer-distributed {
  background-color: #00659B;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 20px;
  margin-top: 80px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
}
.footer-div {
  display: inline-block;
  vertical-align: top;
}

.footer-div-content{
  display: inline-flex;
}

.footer-div-content img {
  margin-left: 15px;
}

.footer-div-content p {
  margin: 0;
  margin-top: 10px;
}

.footer-div-content a {
  color: white;
}

.footer-left {
 width: 70%;
 margin-top: 30px;
 margin-left: 20px;
}

.footer-right {
 width: 20%;
}

.product {
  margin-left: 10px;
  margin-bottom: 10px;
}
 .
