/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  font-family: 'EB Garamond', serif;
}

.footer-distributed {
  background-color: #00659B;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 55px 50px;
  margin-top: 80px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
}
.footer-div {
  display: inline-block;
  vertical-align: top;
}

.footer-div-content{
  display: inline-flex;
}

.footer-div-content img {
  margin-left: 15px;
}

.footer-div-content p {
  margin: 0;
  margin-top: 10px;
}

.footer-div-content a {
  color: white;
}

.footer-left {
 width: 70%;
}

.footer-right {
 width: 20%;
}

 .
