<h2>Hakkımızda</h2>
        <img src="Template/Image/Content/1.jpg" width="340" height="248" style="float:left; border:5px solid #E0F5F8"> <img src="Template/Image/Content/2.jpg" width="340" height="248" style="float:right;border:5px solid #E0F5F8">
        <div class="clear"></div><br />
        <p>Külah ve gofret üretimi amacı ile 1956 yılında İzmir' de küçük bir atölyede kurulan firmamız bu yıllarda manüel el makinaları ile üretim yapmakta idi. 1966 yılında külah üretimi amacı ile fabrika kuruluş çalışmalarına başlanmış ve 1980 yılında Türkiye' de külah üretiminde ilk fabrikalardan biri olma unvanı ile gelişim sürecine devam etmiştir. 1984 yılında tam otomatik makine parkuru ile üretim kapasitesini artırmış ve Türk tüketicisini ilk defa kornetto (sarma kornet) ile tanıştırmıştır.</p>
