<h2>Hakkımızda</h2>
<div class="about-us wrapper">
  <div class="about-us images">
    <img src="<%= asset_url('about-us/1.jpg')%>" width="340" height="248"
    style="margin-right: 30px; border:5px solid #E0F5F8">
    <img src="<%= asset_url('about-us/2.jpg')%>" width="340" height="248"
    style="margin-left: 30px; border:5px solid #E0F5F8">
  </div>
  <h4>
    Külah ve gofret üretimi amacı ile 1956 yılında İzmir' de
    küçük bir atölyede kurulan firmamız bu yıllarda manüel el makinaları
    ile üretim yapmakta idi. 1966 yılında külah üretimi amacı ile fabrika
    kuruluş çalışmalarına başlanmış ve 1980 yılında Türkiye' de külah üretiminde
    ilk fabrikalardan biri olma unvanı ile gelişim sürecine devam etmiştir.
    1984 yılında tam otomatik makine parkuru ile üretim kapasitesini artırmış
    ve Türk tüketicisini ilk defa kornetto (sarma kornet) ile tanıştırmıştır.
  </h4>
</div>
