<h2>Sertifikalar</h2>
  <div id="Sertifikalar">
      <a href="Template/Image/Content/Sertifikalar/Big/isletme-kayit.jpg" rel="lightbox[cert]" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi">
          <img src="Template/Image/Content/Sertifikalar/Small/isletme-kayit.jpg" width="240" height="320" alt="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" style="margin-right:20px;margin-bottom:20px" />
      </a>
      <a href="Template/Image/Content/Sertifikalar/Big/sert.jpg" rel="lightbox[cert]" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi">
          <img src="Template/Image/Content/Sertifikalar/Small/sert.jpg" width="240" height="320" alt="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" style="margin-right:20px;margin-bottom:20px" />
      </a>
      <!--
      <a href="Template/Image/Content/Sertifikalar/Big/Dondurma-Kulahi-Gida-Uretim-Izin-Belgesi.jpg" rel="lightbox[cert]" title="Dondurma Külahı Gıda Üretim İzin Belgesi">
          <img src="Template/Image/Content/Sertifikalar/Small/Dondurma-Kulahi-Gida-Uretim-Izin-Belgesi.jpg" width="240" height="320" alt="Dondurma Külahı Gıda Üretim İzin Belgesi" title="Dondurma Külahı Gıda Üretim İzin Belgesi" style="margin-right:20px;margin-bottom:20px" />
      </a>
      <a href="Template/Image/Content/Sertifikalar/Big/Sekerli-Dondurma-Kulahi-Gida-Uretim-Izin-Belgesi.jpg" rel="lightbox[cert]" title="Şekerli Dondurma Külahı Gıda Üretim İzin Belgesi">
          <img src="Template/Image/Content/Sertifikalar/Small/Sekerli-Dondurma-Kulahi-Gida-Uretim-Izin-Belgesi.jpg" width="240" height="320" alt="Şekerli Dondurma Külahı Gıda Üretim İzin Belgesi" title="Şekerli Dondurma Külahı Gıda Üretim İzin Belgesi" style="margin-right:20px;margin-bottom:20px" />
      </a>
  <div class="clear"></div>
      <a href="Template/Image/Content/Sertifikalar/Big/Kagit-Helva-Gida-Uretim-Izin-Belgesi.jpg" rel="lightbox[cert]" title="Kağıt Helva Gıda Üretim İzin Belgesi">
          <img src="Template/Image/Content/Sertifikalar/Small/Kagit-Helva-Gida-Uretim-Izin-Belgesi.jpg" width="240" height="320" alt="Kağıt Helva Gıda Üretim İzin Belgesi" title="Kağıt Helva Gıda Üretim İzin Belgesi" style="margin-right:20px;margin-bottom:20px" />
      </a>




      <a href="Template/Image/Content/Sertifikalar/Big/Dondurma-Kulahi-Kagit-Helva-Imalati-G56.jpg" rel="lightbox[cert]" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi">
          <img src="Template/Image/Content/Sertifikalar/Small/Dondurma-Kulahi-Kagit-Helva-Imalati-G56.jpg" width="240" height="320" alt="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" style="margin-right:20px;margin-bottom:20px" />
      </a>
      -->
  <div class="clear"></div>
      <!--<a href="Template/Image/Content/Sertifikalar/Big/2.jpg" rel="lightbox[cert]" title="ISO 9001:2008">
          <img src="Template/Image/Content/Sertifikalar/Small/2.jpg" width="240" height="320" alt="ISO 9001:2008" title="ISO 9001:2008" style="margin-right:20px;margin-bottom:20px" />
      </a>
      <a href="Template/Image/Content/Sertifikalar/Big/1.jpg" rel="lightbox[cert]" title="ISO 22000:2005">
          <img src="Template/Image/Content/Sertifikalar/Small/1.jpg" width="240" height="320" alt="ISO 22000:2005" title="ISO 22000:2005" style="margin-right:20px;margin-bottom:20px" />
      </a>
  <div class="clear"></div>-->
  </div>
