<h2>Sertifikalar</h2>
  <div id="Sertifikalar">
      <a href="<%= asset_url('certificates/isletme-kayit.jpg')%>" rel="lightbox[cert]" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi">
          <img src="<%= asset_url('certificates/isletme-kayit.jpg')%>" width="240" height="320" alt="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" style="margin-right:20px;margin-bottom:20px" />
      </a>
      <a href="<%= asset_url('certificates/sert.jpg')%>" rel="lightbox[cert]" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi">
          <img src="<%= asset_url('certificates/sert.jpg')%>" width="240" height="320" alt="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" style="margin-right:20px;margin-bottom:20px" />
      </a>
  </div>
