<h2>Sertifikalar</h2>
<div>
  <%= Dir.foreach('public/uploads/').with_index do |certificate, i| %>
    <% next if certificate == '.' || certificate == '..' %>
    <a class="pop-up" href="" rel="lightbox[cert]">
      <img
        id="<%= "#{i}" %>" src=" <%= image_path "/uploads/#{certificate}" %>"
        width="240" height="320" alt="<%= certificate.split(".").first %>"
        style="margin-right:20px;margin-bottom:20px"
        />
    </a>
  <% end %>
</div>

<div class="modal" id="imagemodal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <img src="" id="imagepreview" style="width: 550px; height: 800px;" />
      </div>
    </div>
  </div>
</div>
