<h2>Sertifikalar</h2>
<div>
  <a class="pop-up" href="" rel="lightbox[cert]" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi">
    <img id="isletme-kayit" src="<%= asset_url('certificates/isletme-kayit.jpg')%>" width="240" height="320" alt="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" style="margin-right:20px;margin-bottom:20px" />
  </a>
  <a class="pop-up" href="" rel="lightbox[cert]" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi">
    <img id="gida-sicili" src="<%= asset_url('certificates/sert.jpg')%>" width="240" height="320" alt="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" title="Dondurma Külahı - Kağıt Helva Çalışma İzni ve Gıda Sicili Belgesi" style="margin-right:20px;margin-bottom:20px" />
  </a>
</div>

<div class="modal" id="imagemodal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <img src="" id="imagepreview" style="width: 550px; height: 800px;" />
      </div>
    </div>
  </div>
</div>
