<div class="homepage">
	<img src="<%= asset_url("logos/#{t('logo.image_tag')}")%>" title="Karaca G覺da"
	alt="Karaca G覺da"/>
	<img class="homepage__image" src="<%= asset_url('m.jpg')%>" title="Karaca G覺da"
	alt="Karaca G覺da"/>
</div>
