<h2>Ürünler</h2>
<div style="display:flex; flex-wrap: wrap;">
	<% @products.each do |product| %>
	<div class="product">
		<h4><%= product.last.fetch("product_name") %></h4>
		<img src="<%= asset_url("#{product.last.fetch("image_path")}")%>" width="250" height="250" alt=product.last.fetch("product_name") />
	</div>
	<% end %>
</div>
