<h2>Üretim</h2>
  <img src="<%= asset_url('production/4.jpg')%>" width="340" height="510" style="float:left; border:5px solid #E0F5F8">
<img src="<%= asset_url('production/3.jpg')%>" width="340" height="510" style="float:right;border:5px solid #E0F5F8">
  <p>Günümüzde Karaca Gıda üretimini el değmeden ve BRC Gıda Güvenliği ve Kalite Yönetim Standardının gereklerini yerine getirerek yapmaktadır. Bu noktada üretimimizin ana unsurlarından biri olan personelimiz BRC Standardının bir parçası olan HACCP konusunda bilgili ve külah üretimi konusunda tecrübelidir. Takım ruhuyla hareket eden ekibimiz üretim heyecanını içinde barındırmaktadır.</p>
