<h2>Karaca Gıda'dan Eğitime Destek</h2>
<div class="socialcontribution wrapper">
	<div class="socialcontribution images">
		<img src="<%= asset_url('social-contribution/3.jpg')%>" width="320" height="240" alt="Karaca Gıdadan Eğitime Destek" title="Karaca Gıdadan Eğitime Destek" style="float:left;margin:0 20px 20px 0;border:5px solid #DFF3FF">
		<img src="<%= asset_url('social-contribution/2.jpg')%>" width="320" height="240" alt="Karaca Gıdadan Eğitime Destek" title="Karaca Gıdadan Eğitime Destek" style="float:left;margin:0 20px 20px 0;border:5px solid #DFF3FF">
		<img src="<%= asset_url('social-contribution/1.jpg')%>" width="320" height="240" alt="Karaca Gıdadan Eğitime Destek" title="Karaca Gıdadan Eğitime Destek" style="float:left;margin:0 10px 10px 0;border:5px solid #DFF3FF">
	</div>

	<h4>
		Karaca Gıda 1956' dan bugüne yaptığı yatırımlar dışında eğitime ve çocuklara
		verdiği önemi 2003 senesinde Cumhuriyetin 80. yıl dönümünde yaptırdığı ilköğretim
		okulunu Milli Eğitime teslim ederek ülke kültürüne' de hizmet etmiştir.
	</h4>
	</br>

	<h4>
		Beş köyün ortak kullandığı ilköğretim okulumuz Yakaköy' de bulunmaktadır.
		İnşaatı 6 ay gibi kısa bir sürede tamamlanmış olup 3 katlı ve 18 derslik kapasitesi
		ile öğrencilere eğitim vermektedir.
	</h4>
</div>
